In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
df = pd.DataFrame(randn(4,3),["A","B","C","D"],["Col1","Col2","Col3"])
df

       Col1      Col2      Col3
A  0.668756  0.696109 -1.690709
B  0.362396 -2.482187 -0.435082
C -0.179413 -0.539037 -1.385051
D  0.277394  1.660459  0.658859

In [9]:
df > 0

    Col1   Col2   Col3
A   True   True  False
B   True  False  False
C  False  False  False
D   True   True   True

In [10]:
booleanDf = df > 0
booleanDf

    Col1   Col2   Col3
A   True   True  False
B   True  False  False
C  False  False  False
D   True   True   True

In [11]:
df[booleanDf]

       Col1      Col2      Col3
A  0.668756  0.696109       NaN
B  0.362396       NaN       NaN
C       NaN       NaN       NaN
D  0.277394  1.660459  0.658859

In [12]:
df[df>0]

       Col1      Col2      Col3
A  0.668756  0.696109       NaN
B  0.362396       NaN       NaN
C       NaN       NaN       NaN
D  0.277394  1.660459  0.658859

In [13]:
df

       Col1      Col2      Col3
A  0.668756  0.696109 -1.690709
B  0.362396 -2.482187 -0.435082
C -0.179413 -0.539037 -1.385051
D  0.277394  1.660459  0.658859

In [15]:
df["Col1"]

A    0.668756
B    0.362396
C   -0.179413
D    0.277394
Name: Col1, dtype: float64

In [16]:
df["Col1"]>0

A     True
B     True
C    False
D     True
Name: Col1, dtype: bool

## df içinden df demek sadece True olanları getir demek

In [29]:
df[df["Col1"]>0]

       Col1      Col2      Col3
A  0.668756  0.696109 -1.690709
B  0.362396 -2.482187 -0.435082
D  0.277394  1.660459  0.658859

In [30]:
df[df["Col2"]> 0.5]

       Col1      Col2      Col3
A  0.668756  0.696109 -1.690709
D  0.277394  1.660459  0.658859

## & and filtrelemesi

In [37]:
df[(df["Col1"]>0) & (df["Col2"]> 0)]

       Col1      Col2      Col3
A  0.668756  0.696109 -1.690709
D  0.277394  1.660459  0.658859

## | or filtrelemesi

In [36]:
df[(df["Col1"]>0) | (df["Col2"]> 0)]

       Col1      Col2      Col3
A  0.668756  0.696109 -1.690709
B  0.362396 -2.482187 -0.435082
D  0.277394  1.660459  0.658859

In [39]:
df["Col4"] = randn(4)
df

       Col1      Col2      Col3      Col4
A  0.668756  0.696109 -1.690709  1.013376
B  0.362396 -2.482187 -0.435082  0.914038
C -0.179413 -0.539037 -1.385051  0.346063
D  0.277394  1.660459  0.658859  0.567731

## Columnlara indexler ekleme, indexlerin yeni adı var Col 6

In [46]:
df["Col5"] = ["newValues1","newValues2","newValues3","newValues4"]
df.set_index("Col5",inplace = True)
df.head()

                Col1      Col2      Col3      Col4
Col5
newValues1  0.668756  0.696109 -1.690709  1.013376
newValues2  0.362396 -2.482187 -0.435082  0.914038
newValues3 -0.179413 -0.539037 -1.385051  0.346063
newValues4  0.277394  1.660459  0.658859  0.567731

In [47]:
df.index.names

FrozenList(['Col5'])